@charset "utf-8";
/* CSS Document */
/*南无阿弥陀佛 佛祖保佑无bug*/
body{
	font-family:arial;
}
.hub{
	background:#cccccc;
}
.nounderlinehyperlink{
	text-decoration:none;
}
.plastic-titlebar{
	-moz-box-shadow:0px 0px 11px #333333; 
	-webkit-box-shadow:0px 0px 11px #333333; 
	box-shadow:0px 0px 12px #333333;
	width: 100%;
	height: 10mm;
	background:url(../image/plastic-itself.png) no-repeat left center #00a0e9;
	background-size:40px 40px;
	background-position: 40px
}
.title-itself{
	align-content:center;
	padding-left: 40px;
	font-size:30px;
	color: white;
}
.plastic-card h1{
	color:#FFFFFF;
}
.plastic-card{ 

}

.titlebar-drawer {
	background:url(../image/drawer-icon.png);
	background-size:40px 40px;
}
